<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta name="viewport" content="width=device-width">
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/login.css">

	<title>Time market</title>
	<script src="/js/lib/jquery-1.11.1.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>

<body>

	<script>
// $(function(){
// 	var inp = document.getElementsByTagName('input');
// 	for(var i in inp){
// 		if(inp[i].type == "text"){
// 			inp[i].addEventListener('click', function(){
// 				this.value = "";
// 			})
// 		}
// 	}
// })


	</script>

	<div id="signupWrap">
		<form method="post" action="/signup" class="joinForm" id='signupForm'enctype="multipart/form-data">
			<div id="joinTitle">
				<p>TIME MARKET</p>
			</div>
			<div id="joinContent">
				<table class="table" id="Table1">
					<tr>
						<td><input type="text" name="uid" id="uid" placeholder="아이디"></td>
					</tr>
					<tr>
						<td><input type="password" name="upw" id="upw" placeholder="비밀번호"></td>
					</tr>

				</table>
				<table class="table" id="Table2">
					<tr>
						<td><input type="text" name="uname" id="uname" placeholder="이름" /></td>
					</tr>
					<tr>
						<td><input type="text" name="ubirth" id="ubirth" placeholder="생년월일" /></td>
					</tr>
				</table>

				<p>
					<input type="radio" name="ugender" id="male" value="남" checked=true>
					<label for="male" class="gender_opt">남자</label>
					<input type="radio" name="ugender" id="female" value="여">
					<label for="female" class="gender_opt">여자</label>
				</p>

				<table class="table" id="Table3">
					<tr>
						<td><input type="text" name="uphone" id="uphone" placeholder="전화번호"></td>
					</tr>
					<tr>
						<td><input type="text" name="uemail" id="uemail" placeholder="이메일"></td>
					</tr>
				</table>

				<div id="upload_pic">
					<img id="imgPreview" src="images/profile_default.jpg" style="width:50px; height:50px;border-radius:40px;">
					<input type="file" id="profile_image" name="profile_image" style="height:30px">
				</div>

				<input type="hidden" id="profileImageData" name="profileImageData">

				<div id="joinBtn">
					<input id="joinSubmit" class="joinForm" type="button" name="join" value="회원가입">&nbsp;&nbsp;
				</div>
			</div>
		</form>
	</div>
	<script>

		var checkValid = false;
		var submitBtn = document.getElementById('joinSubmit');

		var mailChk = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
	  var phoneChk = /^01([0|1|6|7|8|9]?)?([0-9]{3,4})?([0-9]{4})$/;

		submitBtn.addEventListener('click', function (e) {
			// uid upw uname uphone ubirth uemail

			var idVal = document.getElementById('uid').value;
			var pwVal = document.getElementById('upw').value;
			var nameVal = document.getElementById('uname').value;
			var birthVal = document.getElementById('ubirth').value;
			var phoneVal = document.getElementById('uphone').value;
			var emailVal = document.getElementById('uemail').value;

			if (idVal == null || idVal.trim() == '') {
				alert('아이디를 입력해주세요');
				return;
			} else if (idVal.length < 4 || idVal.length > 15) {
				alert('아이디는 4자 이상 15자 이하로 입력해주세요')
				return;
			}
			if (pwVal == null || pwVal.trim() == '') {
				alert('비밀번호를 입력해주세요');
				return;
			}
			else if (pwVal.length < 4 || pwVal.length > 15) {
				alert('비밀번호는 4자 이상 15자 이하로 입력해주세요')
				return;
			}
			if (nameVal == null || nameVal.trim() == '') {
				alert('이름을 입력해주세요');
				return;
			}

			if (birthVal == null || birthVal.trim() == '' || isNaN(birthVal) || birthVal.length !=6 ) {
				alert('생년월일 6자리를 입력해주세요');
				return;
			}

			if (phoneVal == null || phoneVal.trim() == '') {
				alert('핸드폰번호를 입력해주세요');
				return;
			}else if(!phoneChk.test(phoneVal)){
				alert('핸드폰번호를 정확히 입력해주세요');
				return;
			}
			if (emailVal == null || emailVal.trim() == '') {
				alert('이메일을 입력해주세요');
				return;
			}else if(!mailChk.test(emailVal)){
				alert('이메일을 형식에 맞게 입력해주세요');
				return;
			}
			
			var signupForm = document.getElementById('signupForm');
			signupForm.submit();
			
		});

		$("#profile_image").change(function (e) {
			readURL(this)
		});

		function readURL(input) {
			var path = input.value;

			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#imgPreview').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>
</body>

</html>